<% user = User.find(task.user_id) %>
  <tr>
    <td><%= task.title %></td>
    <td><%= task.body %></td>
    <td><%= user.email %></td>
    <td><%= task.status %></td>
    <td><%= link_to 'Delete Task', project_task_path(@project,task) , :method => :delete %> </td>
  </tr>



